{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/categorieInsert.css') }}">
{% endblock %}

{% block content %}

    {% for message in app.flashes('success') %}
        <div class="alertFlash">
            {{ message  }}
        </div>
    {% endfor %}

    <h1 class="categorieInsertTitle">Ajouter une catégorie à vos articles</h1>

    {{ form_start(formCategorieView, {'attr': {'class':'container'}}) }}

    {{ form_label(formCategorieView.libelle, 'Libellé', {'label_attr': {'class':'labelCategorie'}}) }}
    {{ form_widget(formCategorieView.libelle, {'attr': {'class':'inputCategorie'}}) }}

    {{ form_label(formCategorieView.enregistrer, 'Enregistrer', {'label_attr': {'class':'labelCategorie'}}) }}
    {{ form_widget(formCategorieView.enregistrer, {'attr': {'class':'inputCategorieSubmit'}}) }}

    {{ form_end(formCategorieView) }}
    <a href="{{ path('admin') }}">Retour</a>

{% endblock %}