{% extends 'base.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="{{ asset('assets/css/styleAdmin.css') }}">{% endblock %}

{% block title %}Bienvenue dans votre zone administrateur{% endblock %}

{% block content %}
    <a href="{{ path('fos_user_security_logout') }}">
        {{ 'Se déconnecter'|trans({}, 'FOSUserBundle') }}
    </a>
    <div class="contentAdmin">
        <h1 class="adminTitle">Bienvenue cher administrateur</h1>

        <h2 class="adminSubTitle">Ici vous pourrez: </h2>
        <ul class="adminList">
            <li class="adminLink"><a href="{{ path ('article_form_insert') }}">Créer des articles</a></li>
            <li class="adminLink"><a href="{{ path ('categorie_form_insert') }}">Rajouter des catégories
                    d'articles</a></li>
            <li class="adminLink"><a href="{{ path ('pays_form_insert') }}">Rajouter des Continents/Pays</a> ou
                <a href="{{ path('payslist') }}">les supprimer</a></li>
            <li class="adminLink">Gérer vos articles:
                <ul class="listArticle">
                    {% for article in article %}

                        <li class="articlelist">
                            <a class="articleLink" href="{{ path('adminArticleShow', {'id' : article.id}) }}">
                                <p class="titleArticle">{{ article.titre }} </p>
                                <p class="apercuArticle">{{ article.contenu|striptags|slice(0, 270)|raw }} {{ "..."
                                    }}<br/>
                                    <a class="linkCrud" href="{{ path('articleFormUpdate', {'id' : article.id})
                                    }}">Modifier</a>
                                    <a class="linkCrud" href="{{ path('articleAdminDelete', {'id' : article.id})
                                    }}">Supprimer</a>
                                </p>
                            </a>
                        </li>

                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}
