{% extends 'base.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/articleshow.css') }}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="articleContainer">
            <div class="imgContainer">
                <img class="imgArticle" src="{{ asset('assets/img') }}/{{ article.picture }}" alt="image">
            </div>
            <h1 class="titleArticle">{{ article.titre }}</h1>
            <div class="subtitleContainer">
                <h2 class="subtitleArticle">Catégorie: {{ article.categorie.libelle }}</h2>
                <h2 class="subtitleArticle">Écrit par: {{ article.user.username }}</h2>
                <h2 class="subtitleArticle">Pays: {{ article.pays.nomPays }}</h2>
            </div>
            <p>{{ article.contenu|raw }}</p>
            <a href="{{ path('index') }}">Retour</a>
        </div>
    </div>

{% endblock %}